* {
    transition: .2s linear;
}

body {
    margin: 1% 15%;
    font-size: 18px;
    max-width: 1420px;
    
}

header {
    text-align: center;
}

.sec1 {
display: flex;
}

.inline {
    display: inline;

}

.div-foto {
    margin-left: 20%;
    margin-top: 25px;
}

.foto {
max-width: 192px;
}

em {
    color: blue;
}


footer {
    margin: 2% 0 1% 0;
    text-align: center;
}

footer div{
    display: inline;
}

ul {
    display: inline;
    padding: 0 10px;
}

footer ul {
    display:inline;
}

footer div {
    display:inline;
}

.contact li {
    display: inline;
    margin-right: 1%;
    vertical-align: middle;
}

.contact li a:hover{
    text-decoration: none;
}

.contact li a:hover svg {
    fill: red;
}

a {
    color: darkslateblue; 
    text-decoration: none;
}
a:hover { 
    text-decoration: underline;
    color: red; 
}

svg {
    width: 15px;
}